<!-- views/partials/topnav.ejs -->

<div class="topnav">
  <div class="logo-container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Logo_UshaMartin.png" alt="Logo" class="topnav-logo">
  </div>
  <ul>
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/emplist">Employee</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/admin/addAsset">Add Asset</a></li> <!-- New link for adding asset -->
    <li><a href="/admin/genReport">Generate Report</a></li>
  </ul>
</div>
