<!-- sidebar.ejs -->

<div class="sidebar">
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/admin/addAsset">Add Asset</a></li>
  </ul>
</div>
