.loginPage {
  display: flex;
  height: 100vh;
  background-color: #f0f0f0; /* Light gray background */
}

.leftContainer, .rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.leftContainer {
  background-color: #f5f5f5;
}

.rightContainer {
  background-color: #f5f5f5;
}

.separator {
  width: 2px;
  background-color: #f67126;
  height: 100%;
}

.instructionsHeading {
  font-size: 24px;
  font-weight: normal; /* Normal font weight */
  color: gray; /* Gray color */
  margin-bottom: 10px;
}

.instructionsText {
  font-size: 16px;
  color: gray; /* Gray color */
  text-align: left; /* Left-aligned text */
  margin-bottom: 20px;
}

.loginContainer {
  background-color: white; /* White background for the login box */
  padding: 20px; /* Spacing inside the box */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

.loginLogo {
  width: 100px; /* Width of the logo */
  margin-bottom: 20px; /* Space below the logo */
}

.heading {
  margin-bottom: 20px; /* Space below the heading */
}

.formGroup {
  margin-bottom: 15px; /* Space below each form group */
  text-align: left;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 5px; /* Space below the label */
  font-weight: bold; /* Bold label text */
}

.input {
  width: 100%;
  padding: 10px; /* Padding inside the input fields */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Ensure padding is included in the total width/height */
}

.button {
  width: 100%;
  padding: 10px; /* Padding inside the button */
  background-color: #ff7f00; /* Orange background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  margin-top: 10px; /* Space above the button */
}

.button:hover {
  background-color: #e67300; /* Darker orange on hover */
}

.link {
  display: block;
  margin-top: 10px; /* Space above the link */
  color: #007bff; /* Blue text */
  text-decoration: none; /* No underline */
}

.link:hover {
  text-decoration: underline; /* Underline on hover */
}

.errorMessage {
  color: red; /* Error message color */
}
