/* Profile.css */

.profile-page .container {
    padding: 20px;
  }
  
  .profile-page h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-page ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .profile-page ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .profile-page ul li a {
    text-decoration: none;
    color: #f67126;
    font-weight: bold;
  }
  
  .profile-page ul li a:hover {
    text-decoration: underline;
  }
  